.root {
  display: grid;
  align-content: flex-end;
  justify-items: stretch;
  justify-self: flex-start;
  background: #ffffff;
  position: relative;
  width: 100%;
  padding-bottom: 5px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    justify-items: center;
    align-content: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  width: 100%;
  background: #ffffff;
  max-width: 1028px;
  min-width: 0;
  border-top: 1px solid var(--token-Le07ngBUPl2h);
}
.columns > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__epSTy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__epSTy {
    align-items: center;
    justify-content: center;
  }
}
.link {
  position: relative;
  max-width: 75%;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    text-align: center;
  }
}
.img {
  object-fit: cover;
  height: 30px;
  width: auto;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    flex-shrink: 1;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: sticky;
    width: auto;
    flex-grow: 0;
    object-fit: fill;
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img > picture > img {
    object-fit: fill;
  }
}
.column__vGy2E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vGy2E {
    justify-content: center;
    align-items: center;
  }
}
.popoverCore:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button___7Ff78:global(.__wab_instance) {
  margin-right: 0px;
}
.text___0C9X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #01aec3;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0C9X {
    font-size: 10px;
    line-height: 1;
  }
}
.svg__pk2Yg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xAxw2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__aDeBm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.column__f7CPj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__f7CPj {
    justify-content: flex-end;
    align-items: center;
  }
}
.popoverCore2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__hzEu4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #01aec3;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hzEu4 {
    font-size: 10px;
    line-height: 1;
  }
}
.svg__z4UYc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cs1Fp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__zY8Xm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.column__hiwIx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hiwIx {
    justify-content: center;
    align-items: center;
  }
}
.popoverCore3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__nnvBd:global(.__wab_instance) {
    align-self: center;
  }
}
.text__t3GbP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #01aec3;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__t3GbP {
    font-size: 10px;
    line-height: 1;
  }
}
.svg__nVu07 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    flex-shrink: 1;
  }
}
.freeBox__hGrw9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.commentForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__k1JEh:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__qj1B:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___8RliT:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input___4YreH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__uLjul:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__j61SJ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__axbgx:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___5HAc7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tPr7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__leT6C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__leT6C {
    justify-content: flex-end;
    align-items: center;
  }
}
.text___9NVue {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #01aec3;
  font-size: 10px;
  flex-grow: 0;
  white-space: pre-wrap;
  align-self: center;
}
