.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    padding: 10px;
  }
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__bErdt {
  object-fit: cover;
  height: 40px;
}
.img__bErdt > picture > img {
  object-fit: cover;
}
.img__he3Zb {
  object-fit: cover;
}
.img__he3Zb > picture > img {
  object-fit: cover;
}
.img__xdPRb {
  object-fit: cover;
}
.img__xdPRb > picture > img {
  object-fit: cover;
}
.button__xa5Pu:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kSgFx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__apdgN {
  color: #01aec3;
  font-weight: 400;
  width: auto;
}
.svg___8SlcT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__qtOux:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__fZOjd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qeQfq {
  color: #01aec3;
  font-weight: 400;
}
.svg__vFvS5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.popoverCore2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button__djiG:global(.__wab_instance) {
  width: auto;
}
.text__bsGeg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: #01aec3;
  font-weight: 400;
  min-width: 0;
}
.svg__m5YvM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zIvSg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___2O01S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.popoverCore:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___3BmoY:global(.__wab_instance) {
  width: auto;
}
.text__ygiUk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #01aec3;
  font-weight: 400;
  min-width: 0;
}
.svg__z6Ye2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pftWm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__pW1PP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.button__dvgkC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gdwpZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___86DQs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.accordionItem__psROc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__di6Tg {
  text-align: center;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.formField__tIk0N:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__b84Tn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__fddX5:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.passwordInput__yzlLj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___8P6Ky:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tWrVd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accordionItem___2SDl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kisqm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text___52GqC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.form2:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.passwordResetEmail:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.emailReset:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__wqces:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cEuXv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accessRequestAccordian:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gIk5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__qkObM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.accessRequestForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__jnx51:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__iutaJ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___1LSXx:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__jrP0V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__bufrz:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__i1Zy1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___6MQIm:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__kwFOb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__kudw1:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input___8Pv7K:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__gKlNm:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.passwordInput__cFTuu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__n5Ws:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.passwordInput__esKDf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__qkeJa:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__cwlnD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oZ2Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
