@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-TEV88Uooh4TR: #184f01;
  --plasmic-token-unnamed-style-token: var(--token-TEV88Uooh4TR);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Bki5KLlYF2bV_font-family: "Inter", sans-serif;
  --mixin-Bki5KLlYF2bV_font-size: 16px;
  --mixin-Bki5KLlYF2bV_font-weight: 400;
  --mixin-Bki5KLlYF2bV_font-style: normal;
  --mixin-Bki5KLlYF2bV_color: #535353;
  --mixin-Bki5KLlYF2bV_text-align: left;
  --mixin-Bki5KLlYF2bV_text-transform: none;
  --mixin-Bki5KLlYF2bV_line-height: 1.5;
  --mixin-Bki5KLlYF2bV_letter-spacing: normal;
  --mixin-Bki5KLlYF2bV_white-space: pre-wrap;
  --mixin-Bki5KLlYF2bV_user-select: text;
  --mixin-Bki5KLlYF2bV_text-decoration-line: none;
  --mixin-Bki5KLlYF2bV_text-overflow: clip;
  --mixin-WsaqUHXHK0YE_color: #000000;
  --mixin-WsaqUHXHK0YE_font-weight: 700;
  --mixin-WsaqUHXHK0YE_font-size: 64px;
  --mixin-WsaqUHXHK0YE_line-height: 1;
  --mixin-WsaqUHXHK0YE_letter-spacing: -1px;
  --mixin-WsaqUHXHK0YE_white-space: pre-wrap;
  --mixin-gyYdvM8GuaB6_color: #000000;
  --mixin-gyYdvM8GuaB6_font-size: 48px;
  --mixin-gyYdvM8GuaB6_font-weight: 700;
  --mixin-gyYdvM8GuaB6_letter-spacing: -0.5px;
  --mixin-gyYdvM8GuaB6_line-height: 1.1;
  --mixin-gyYdvM8GuaB6_white-space: pre-wrap;
  --mixin-ZvTRd2NScEWB_color: #0070f3;
  --mixin-ZvTRd2NScEWB_white-space: pre-wrap;
  --mixin-vPELUlult6j4_color: #000000;
  --mixin-vPELUlult6j4_font-size: 32px;
  --mixin-vPELUlult6j4_font-weight: 600;
  --mixin-vPELUlult6j4_line-height: 1.2;
  --mixin-vPELUlult6j4_white-space: pre-wrap;
  --mixin-zRpz4Vxy7RyF_color: #000000;
  --mixin-zRpz4Vxy7RyF_font-size: 24px;
  --mixin-zRpz4Vxy7RyF_font-weight: 600;
  --mixin-zRpz4Vxy7RyF_line-height: 1.3;
  --mixin-zRpz4Vxy7RyF_white-space: pre-wrap;
  --mixin-9ld3gcDlmqHW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9ld3gcDlmqHW_border-bottom-color: #dddddd;
  --mixin-9ld3gcDlmqHW_border-bottom-style: solid;
  --mixin-9ld3gcDlmqHW_border-bottom-width: 1px;
  --mixin-9ld3gcDlmqHW_border-left-color: #dddddd;
  --mixin-9ld3gcDlmqHW_border-left-style: solid;
  --mixin-9ld3gcDlmqHW_border-left-width: 1px;
  --mixin-9ld3gcDlmqHW_border-right-color: #dddddd;
  --mixin-9ld3gcDlmqHW_border-right-style: solid;
  --mixin-9ld3gcDlmqHW_border-right-width: 1px;
  --mixin-9ld3gcDlmqHW_border-top-color: #dddddd;
  --mixin-9ld3gcDlmqHW_border-top-style: solid;
  --mixin-9ld3gcDlmqHW_border-top-width: 1px;
  --mixin-9ld3gcDlmqHW_border-bottom-left-radius: 3px;
  --mixin-9ld3gcDlmqHW_border-bottom-right-radius: 3px;
  --mixin-9ld3gcDlmqHW_border-top-left-radius: 3px;
  --mixin-9ld3gcDlmqHW_border-top-right-radius: 3px;
  --mixin-9ld3gcDlmqHW_font-family: "Inconsolata";
  --mixin-9ld3gcDlmqHW_padding-bottom: 1px;
  --mixin-9ld3gcDlmqHW_padding-left: 4px;
  --mixin-9ld3gcDlmqHW_padding-right: 4px;
  --mixin-9ld3gcDlmqHW_padding-top: 1px;
  --mixin-9ld3gcDlmqHW_white-space: pre-wrap;
  --mixin-HsYJa_gPykZh_border-left-color: #dddddd;
  --mixin-HsYJa_gPykZh_border-left-style: solid;
  --mixin-HsYJa_gPykZh_border-left-width: 3px;
  --mixin-HsYJa_gPykZh_color: #888888;
  --mixin-HsYJa_gPykZh_padding-left: 10px;
  --mixin-HsYJa_gPykZh_white-space: pre-wrap;
  --mixin-qiTr0AuitKV7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qiTr0AuitKV7_border-bottom-color: #dddddd;
  --mixin-qiTr0AuitKV7_border-bottom-style: solid;
  --mixin-qiTr0AuitKV7_border-bottom-width: 1px;
  --mixin-qiTr0AuitKV7_border-left-color: #dddddd;
  --mixin-qiTr0AuitKV7_border-left-style: solid;
  --mixin-qiTr0AuitKV7_border-left-width: 1px;
  --mixin-qiTr0AuitKV7_border-right-color: #dddddd;
  --mixin-qiTr0AuitKV7_border-right-style: solid;
  --mixin-qiTr0AuitKV7_border-right-width: 1px;
  --mixin-qiTr0AuitKV7_border-top-color: #dddddd;
  --mixin-qiTr0AuitKV7_border-top-style: solid;
  --mixin-qiTr0AuitKV7_border-top-width: 1px;
  --mixin-qiTr0AuitKV7_border-bottom-left-radius: 3px;
  --mixin-qiTr0AuitKV7_border-bottom-right-radius: 3px;
  --mixin-qiTr0AuitKV7_border-top-left-radius: 3px;
  --mixin-qiTr0AuitKV7_border-top-right-radius: 3px;
  --mixin-qiTr0AuitKV7_font-family: "Inconsolata";
  --mixin-qiTr0AuitKV7_padding-bottom: 3px;
  --mixin-qiTr0AuitKV7_padding-left: 6px;
  --mixin-qiTr0AuitKV7_padding-right: 6px;
  --mixin-qiTr0AuitKV7_padding-top: 3px;
  --mixin-qiTr0AuitKV7_white-space: pre-wrap;
  --mixin-e3j9c0U6oXjf_display: flex;
  --mixin-e3j9c0U6oXjf_flex-direction: column;
  --mixin-e3j9c0U6oXjf_align-items: stretch;
  --mixin-e3j9c0U6oXjf_justify-content: flex-start;
  --mixin-e3j9c0U6oXjf_list-style-position: outside;
  --mixin-e3j9c0U6oXjf_padding-left: 40px;
  --mixin-e3j9c0U6oXjf_position: relative;
  --mixin-e3j9c0U6oXjf_list-style-type: disc;
  --mixin-e3j9c0U6oXjf_white-space: pre-wrap;
  --mixin-qEY_1NkfVzq9_display: flex;
  --mixin-qEY_1NkfVzq9_flex-direction: column;
  --mixin-qEY_1NkfVzq9_align-items: stretch;
  --mixin-qEY_1NkfVzq9_justify-content: flex-start;
  --mixin-qEY_1NkfVzq9_list-style-position: outside;
  --mixin-qEY_1NkfVzq9_padding-left: 40px;
  --mixin-qEY_1NkfVzq9_position: relative;
  --mixin-qEY_1NkfVzq9_list-style-type: decimal;
  --mixin-qEY_1NkfVzq9_white-space: pre-wrap;
  --mixin-Ahc2p8GqyTwN_color: #000000;
  --mixin-Ahc2p8GqyTwN_font-size: 20px;
  --mixin-Ahc2p8GqyTwN_font-weight: 600;
  --mixin-Ahc2p8GqyTwN_line-height: 1.5;
  --mixin-Ahc2p8GqyTwN_white-space: pre-wrap;
  --mixin-5YLpLnMSqota_color: #000000;
  --mixin-5YLpLnMSqota_font-size: 16px;
  --mixin-5YLpLnMSqota_font-weight: 600;
  --mixin-5YLpLnMSqota_line-height: 1.5;
  --mixin-5YLpLnMSqota_white-space: pre-wrap;
  --mixin-QcNbpmEz9hA5_color: #3291ff;
  --mixin-QcNbpmEz9hA5_white-space: pre-wrap;
  --mixin-kvSJqtH8HTN1_white-space: pre-wrap;
  --mixin-6XJQHmwuxcxH_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Bki5KLlYF2bV_font-family);
  font-size: var(--mixin-Bki5KLlYF2bV_font-size);
  font-weight: var(--mixin-Bki5KLlYF2bV_font-weight);
  font-style: var(--mixin-Bki5KLlYF2bV_font-style);
  color: var(--mixin-Bki5KLlYF2bV_color);
  text-align: var(--mixin-Bki5KLlYF2bV_text-align);
  text-transform: var(--mixin-Bki5KLlYF2bV_text-transform);
  line-height: var(--mixin-Bki5KLlYF2bV_line-height);
  letter-spacing: var(--mixin-Bki5KLlYF2bV_letter-spacing);
  white-space: var(--mixin-Bki5KLlYF2bV_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-WsaqUHXHK0YE_color);
  font-weight: var(--mixin-WsaqUHXHK0YE_font-weight);
  font-size: var(--mixin-WsaqUHXHK0YE_font-size);
  line-height: var(--mixin-WsaqUHXHK0YE_line-height);
  letter-spacing: var(--mixin-WsaqUHXHK0YE_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-gyYdvM8GuaB6_color);
  font-size: var(--mixin-gyYdvM8GuaB6_font-size);
  font-weight: var(--mixin-gyYdvM8GuaB6_font-weight);
  letter-spacing: var(--mixin-gyYdvM8GuaB6_letter-spacing);
  line-height: var(--mixin-gyYdvM8GuaB6_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-ZvTRd2NScEWB_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-vPELUlult6j4_color);
  font-size: var(--mixin-vPELUlult6j4_font-size);
  font-weight: var(--mixin-vPELUlult6j4_font-weight);
  line-height: var(--mixin-vPELUlult6j4_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-zRpz4Vxy7RyF_color);
  font-size: var(--mixin-zRpz4Vxy7RyF_font-size);
  font-weight: var(--mixin-zRpz4Vxy7RyF_font-weight);
  line-height: var(--mixin-zRpz4Vxy7RyF_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9ld3gcDlmqHW_font-family);
  border-radius: var(--mixin-9ld3gcDlmqHW_border-top-left-radius)
    var(--mixin-9ld3gcDlmqHW_border-top-right-radius)
    var(--mixin-9ld3gcDlmqHW_border-bottom-right-radius)
    var(--mixin-9ld3gcDlmqHW_border-bottom-left-radius);
  padding: var(--mixin-9ld3gcDlmqHW_padding-top)
    var(--mixin-9ld3gcDlmqHW_padding-right)
    var(--mixin-9ld3gcDlmqHW_padding-bottom)
    var(--mixin-9ld3gcDlmqHW_padding-left);
  border-top: var(--mixin-9ld3gcDlmqHW_border-top-width)
    var(--mixin-9ld3gcDlmqHW_border-top-style)
    var(--mixin-9ld3gcDlmqHW_border-top-color);
  border-right: var(--mixin-9ld3gcDlmqHW_border-right-width)
    var(--mixin-9ld3gcDlmqHW_border-right-style)
    var(--mixin-9ld3gcDlmqHW_border-right-color);
  border-bottom: var(--mixin-9ld3gcDlmqHW_border-bottom-width)
    var(--mixin-9ld3gcDlmqHW_border-bottom-style)
    var(--mixin-9ld3gcDlmqHW_border-bottom-color);
  border-left: var(--mixin-9ld3gcDlmqHW_border-left-width)
    var(--mixin-9ld3gcDlmqHW_border-left-style)
    var(--mixin-9ld3gcDlmqHW_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-HsYJa_gPykZh_color);
  padding-left: var(--mixin-HsYJa_gPykZh_padding-left);
  border-left: var(--mixin-HsYJa_gPykZh_border-left-width)
    var(--mixin-HsYJa_gPykZh_border-left-style)
    var(--mixin-HsYJa_gPykZh_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qiTr0AuitKV7_font-family);
  border-radius: var(--mixin-qiTr0AuitKV7_border-top-left-radius)
    var(--mixin-qiTr0AuitKV7_border-top-right-radius)
    var(--mixin-qiTr0AuitKV7_border-bottom-right-radius)
    var(--mixin-qiTr0AuitKV7_border-bottom-left-radius);
  padding: var(--mixin-qiTr0AuitKV7_padding-top)
    var(--mixin-qiTr0AuitKV7_padding-right)
    var(--mixin-qiTr0AuitKV7_padding-bottom)
    var(--mixin-qiTr0AuitKV7_padding-left);
  border-top: var(--mixin-qiTr0AuitKV7_border-top-width)
    var(--mixin-qiTr0AuitKV7_border-top-style)
    var(--mixin-qiTr0AuitKV7_border-top-color);
  border-right: var(--mixin-qiTr0AuitKV7_border-right-width)
    var(--mixin-qiTr0AuitKV7_border-right-style)
    var(--mixin-qiTr0AuitKV7_border-right-color);
  border-bottom: var(--mixin-qiTr0AuitKV7_border-bottom-width)
    var(--mixin-qiTr0AuitKV7_border-bottom-style)
    var(--mixin-qiTr0AuitKV7_border-bottom-color);
  border-left: var(--mixin-qiTr0AuitKV7_border-left-width)
    var(--mixin-qiTr0AuitKV7_border-left-style)
    var(--mixin-qiTr0AuitKV7_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-e3j9c0U6oXjf_display);
  flex-direction: var(--mixin-e3j9c0U6oXjf_flex-direction);
  align-items: var(--mixin-e3j9c0U6oXjf_align-items);
  justify-content: var(--mixin-e3j9c0U6oXjf_justify-content);
  list-style-position: var(--mixin-e3j9c0U6oXjf_list-style-position);
  padding-left: var(--mixin-e3j9c0U6oXjf_padding-left);
  position: var(--mixin-e3j9c0U6oXjf_position);
  list-style-type: var(--mixin-e3j9c0U6oXjf_list-style-type);
  flex-column-gap: var(--mixin-e3j9c0U6oXjf_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-qEY_1NkfVzq9_display);
  flex-direction: var(--mixin-qEY_1NkfVzq9_flex-direction);
  align-items: var(--mixin-qEY_1NkfVzq9_align-items);
  justify-content: var(--mixin-qEY_1NkfVzq9_justify-content);
  list-style-position: var(--mixin-qEY_1NkfVzq9_list-style-position);
  padding-left: var(--mixin-qEY_1NkfVzq9_padding-left);
  position: var(--mixin-qEY_1NkfVzq9_position);
  list-style-type: var(--mixin-qEY_1NkfVzq9_list-style-type);
  flex-column-gap: var(--mixin-qEY_1NkfVzq9_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Ahc2p8GqyTwN_color);
  font-size: var(--mixin-Ahc2p8GqyTwN_font-size);
  font-weight: var(--mixin-Ahc2p8GqyTwN_font-weight);
  line-height: var(--mixin-Ahc2p8GqyTwN_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-5YLpLnMSqota_color);
  font-size: var(--mixin-5YLpLnMSqota_font-size);
  font-weight: var(--mixin-5YLpLnMSqota_font-weight);
  line-height: var(--mixin-5YLpLnMSqota_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-QcNbpmEz9hA5_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
