.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    padding: 10px;
  }
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__gVe8M {
  object-fit: cover;
  height: 40px;
}
.img__gVe8M > picture > img {
  object-fit: cover;
}
.img__hgjPa {
  object-fit: cover;
}
.img__hgjPa > picture > img {
  object-fit: cover;
}
.img__cnXw3 {
  object-fit: cover;
}
.img__cnXw3 > picture > img {
  object-fit: cover;
}
.button__ta2F:global(.__wab_instance) {
  max-width: 100%;
}
.svg__alKdA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__znylR {
  color: #01aec3;
  font-weight: 400;
  width: auto;
}
.svg__v0Xs2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__nAitt:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__b5OpN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2KlYk {
  color: #01aec3;
  font-weight: 400;
}
.svg__foIwQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.popoverCore2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button___3Bksa:global(.__wab_instance) {
  width: auto;
}
.text__kg6Tv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: #01aec3;
  font-weight: 400;
  min-width: 0;
}
.svg__sI56H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hlXQi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__pgWcT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.popoverCore:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__dpJ8C:global(.__wab_instance) {
  width: auto;
  display: none;
}
.text__yfedW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #01aec3;
  font-weight: 400;
  min-width: 0;
}
.svg___0PxPn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jjhL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___3Xp9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 0px 4px 16px 0px #00000033;
  background: white;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e2e8f0;
}
.button___6BJa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3GyWi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5Nn3X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.accordionItem__ugHdA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nyHW {
  text-align: center;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.formField__u1VDg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input___3QTja:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__gWPrg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.passwordInput__csORn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__l9Q4N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ue64 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accordionItem__pGrAo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tZGt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__hO3TE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.form2:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.passwordResetEmail:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.emailReset:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__ibI4O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__aO6Qc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accessRequestAccordian:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .accessRequestAccordian:global(.__wab_instance) {
    overflow: auto;
  }
}
.text__bNPzo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__jf4Z2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.accessRequestForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__i20R1:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__jIwKn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__lSrdg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__bWyJl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__uFsTy:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__o9SVo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___57NjY:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__w5R9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__fz0LW:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__bCn7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__pJajh:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.passwordInput___9TBe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__qXdox:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.passwordInput__lgUzn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__aFi8F:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__utaqL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__suz86 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
