.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  position: sticky;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #dbdbd7;
}
.rootcolor_dark {
  background: #232320;
  border-color: #717069;
}
.root:hover {
  border-color: #c8c7c1;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
  border-radius: 6px;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
  border-radius: 6px;
}
.startIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-right: 8px;
  display: none;
}
.startIconContainershowStartIcon {
  display: flex;
}
.root .startIconContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetStartIconshowStartIcon {
  color: #90908c;
}
.slotTargetStartIconcolor_dark {
  color: #ffffff;
}
.svg__r8SkS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.username2 {
  width: 100%;
  left: auto;
  top: auto;
  background: #ffffff00;
  min-width: 0;
  padding: 0px;
  border-width: 0px;
}
.username2isDisabled {
  cursor: not-allowed;
}
.username2color_dark {
  color: #ffffff;
}
.root:focus-within .username2 {
  outline: none;
}
.root .username2___focusVisibleWithin {
  outline: none;
}
.root .username2:focus {
  outline: none;
}
.root:focus-within .username2:focus {
  outline: none;
}
.root .username2::placeholder {
  color: #706f6c;
}
.rootcolor_dark .username2color_dark::placeholder {
  color: #c8c7c1;
}
.root:focus-within .username2::placeholder {
  outline: none;
}
.endIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-left: 8px;
  display: none;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIconshowEndIcon {
  color: #90908c;
}
.slotTargetEndIconcolor_dark {
  color: #ffffff;
}
.svg__iJfaW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
